<div class="container-fluid">
    <div class="d-flex justify-content-center mt-5 mb-4">
        <h3>E-Commerce</h3>
    </div>
    <div class="card mt-2 d-flex justify-content-center" style="min-width: 315px;">
        <div class="card-header">
            <p>Login/Signup</p>
        </div>
        <div class="card-body">
            <form [formGroup]="loginForm">
                <label for="username">User Name</label>
                <input class="form-control" formControlName="username" type="text" id="username">
                <label for="password">Password</label>
                <input class="form-control" formControlName="password" type="password" id="password">
                <ng-container *ngIf="invalid">
                    <p><span style="color:red">Wrong Username/Password</span></p>
                </ng-container>
                <button class="btn btn-primary mt-3" style="width: 100%;"
                    (click)="goToProductsMainPage()">Login</button>
            </form>
        </div>
    </div>
</div>